body {
    margin: 0;
    font-family: Arial;
    background: #444;
    color: gainsboro;
}
.header {
    background-color: rgb(40, 40, 40);
    text-align: center;
    color: gainsboro;
    font-size: 60px;
}

.header h1 {
    margin: 0;
    font-size: 60px;
}

.subheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
}

.subhdesc {
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 24px;
}

.desc {
    margin: 0;
    color: gainsboro;
    white-space: pre-line;
    max-width: 900px;
    text-align: center;
}

.scrtitle {
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 24px;
}

.screenshot {
    max-width: 80%;
    max-height: 60vh;

    width: auto;
    height: auto;

    border-radius: 8px;
    object-fit: contain;

    display: block;
    margin: 0 auto 20px auto;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.repo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.repotitle {
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 24px;
}

.repodesc {
    margin: 0;
    color: gainsboro;
    white-space: pre-line;
    max-width: 900px;
    text-align: center;
}

.menu-btn {
    font-size: 30px;
    position: fixed;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    color: gainsboro;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -220px;
    width: 220px;
    height: 100%;
    background: #222;
    padding-top: 60px;
    transition: 0.3s;
}

.sidebar.active {
    left: 0;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: gainsboro;
    text-decoration: none;
}

.sidebar a:hover {
    background: #444;
}

footer {
    bottom: 0;
    width: 100%;
    background: rgb(40, 40, 40);
    color: gainsboro;
    text-align: center;
    padding: 10px 0;
}